In [34]:
from pyaxis import pyaxis
import pandas as pd
import numpy as np

#set file path (or URL)
fp = r"/Users/boasnydegger/Desktop/github/dsfgp/data/px-x-1003020000_101.px" 
#parse contents of *.px file
px = pyaxis.parse(uri = fp , encoding = 'ISO-8859-2')

#store data as pandas dataframe
df = px['DATA']
meta_dict = px['METADATA']
#store metadata as a dictionary (not necessary in this case, but might be helpful)

print("Alex")
print("Test Boas")
print("bla")

Alex
Test Boas
bla

In [109]:
from pyaxis import pyaxis
def dict_clean (px_data_url):
    px = rf'{px_data_url}'
    px = pyaxis.parse(uri = px , encoding = 'ISO-8859-2')
    df = px['DATA']
    dict_meta = px['METADATA']
    bad_countries = ['Übriges Südamerika',
                     'Übriges Zentralamerika, Karibik',
                     'Übriges Nordafrika',
                     'Übriges Afrika',
                     'Übriges Westasien',
                     'Übriges Süd- und Ostasien',
                     'Übriges Europa']
    for m in range(0, len(bad_countries)):
        df = df.loc[df['Herkunftsland'] != bad_countries[m]]
    df = df.loc[(df['Indikator'] == 'Logiernächte') & (df['DATA'] != '"..."') & (df['DATA'] != '"......"')]
    df["Jahr"] = df["Jahr"].astype(int)
    df["DATA"] = df["DATA"].astype(int)
    df_months = df.loc[(df['Monat'] != 'Jahrestotal')]
    df_months = df_months.groupby('Gemeinde')
    df_years = df.loc[(df['Monat'] == 'Jahrestotal')]
    df_years = df_years.groupby('Gemeinde')
    regions = df['Gemeinde'].unique()
    l = [df_months, df_years, dict_meta, regions]
    return(l)

df_months, df_years, dict_meta, regions = dict_clean('/Users/boasnydegger/Desktop/github/dsfgp/data/px-x-1003020000_101.px')

In [ ]:
def region_wanted(regions, df_grouped):
    dict_regions = [{} for k in range(0, len(regions))]
    for i in range(0, len(regions)):
        dict_regions[i][regions[i]] = df_grouped.get_group(regions[i])
        dict_regions[i][regions[i]].reset_index(inplace = True)
    return(dict_regions)

regions = ['Arosa','Laax','St. Moritz']
dict_reg_m = region_wanted(regions, df_months)

In [ ]:
def regions_translated(regions, dict_regions):
    trans_dict = {
        'Schweiz' : 'Switzerland',
        'Deutschland' : 'Germany',
        'Italien': 'Italy',
        'Frankreich' : 'France',
        'Österreich' : 'Austria',
        'Vereinigtes Königreich': 'United Kingdom',
        'Irland' : 'Ireland',
        'Niederlande' : 'Netherlands',
        'Belgien' : 'Belgium',
        'Luxemburg' : 'Luxembourg',
        'Dänemark' : 'Denmark',
        'Schweden' : 'Sweden',
        'Norwegen' : 'Norway',
        'Finnland' : 'Finland',
        'Spanien' : 'Spain',
        'Griechenland' : 'Greece',
        'Türkei' : 'Turkey',
        'Island' : 'Iceland',
        'Polen' : 'Polony',
        'Ungarn' : 'Ungary',
        'Bulgarien': 'Bulgary',
        'Zypern' : 'Cyprus',
        'Vereinigte Staaten' : 'United States',
        'Kanada' : 'Canada',
        'Mexiko' : 'Mexico',
        'Brasilien' : 'Brasil',
        'Portugal' : 'Portugal',
        'Argentinien' : 'Argentine',
        'Ägypten' : 'Egypt',
        'Südafrika' : 'South Africa',
        'Indien' : 'India',
        'Katar' : 'Qatar',
        'Asutralien' : 'Australia',
        'Indonesien' : 'Indonesia',
        'Korea (Süd-)' : 'South Korea',
        'Phillipinen' : 'Philippines',
        'Neuseeland, Ozeanien' : 'New Zealand',
        'Singapur' : 'Singapore',
        'Taiwan (Chinesisches Taipei)' : 'Taiwan',
        'Estland' : 'Estonia',
        'Lettland' : 'Latvia',
        'Litauen' : 'Lithuania',
        'Saudi-Arabien' : 'Saudi Arabia',
        'Vereinigte Arabische Emirate' : 'United Arab Emirates',
        'Kroatien' : 'Croatia',
        'Rumänien' : 'Romania',
        'Russland' : 'Russia',
        'Slowakei' : 'Slovakia',
        'Slowenien' : 'Slovenia',
        'Tschechien' : 'Czech Republic',
        'Serbien' : 'Serbia',
        }
    for k in range(0, len(dict_regions)):
        for i in range(0, len(dict_regions[k][regions[k]])):
            if dict_regions[k][regions[k]].iloc[i]['Herkunftsland'] in trans_dict.keys():
                dict_regions[k][regions[k]].at[i,'Herkunftsland'] = trans_dict[dict_regions[k][regions[k]].iloc[i]['Herkunftsland']]
    return(dict_regions)

dict_reg_m_trans = regions_translated(regions, dict_reg_m)

In [128]:
arosa = dict_regions_months[0]['Arosa']
years = arosa.loc[arosa['Jahr'] == '2013']
months_every_year = years['Monat'].value_counts()
years_in_df = arosa['Jahr'].value_counts()
print(years_in_df)
print(months_every_year)

2013    792
2014    792
2015    792
2016    792
2017    792
2018    792
2020    792
2021    792
2019    780
2022    594
Name: Jahr, dtype: int64
Januar       66
Februar      66
März         66
April        66
Mai          66
Juni         66
Juli         66
August       66
September    66
Oktober      66
November     66
Dezember     66
Name: Monat, dtype: int64

,index,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
0,24675,2013,Januar,Arosa,Herkunftsland - Total,Logiernächte,73314
1,24677,2013,Januar,Arosa,Switzerland,Logiernächte,48228
2,24679,2013,Januar,Arosa,Germany,Logiernächte,15285
3,24681,2013,Januar,Arosa,France,Logiernächte,258
4,24683,2013,Januar,Arosa,Italy,Logiernächte,277
...,...,...,...,...,...,...,...
7705,1886311,2022,September,Arosa,Slovakia,Logiernächte,6
7706,1886313,2022,September,Arosa,Slovenia,Logiernächte,0
7707,1886315,2022,September,Arosa,Czech Republic,Logiernächte,12
7708,1886317,2022,September,Arosa,Ukraine,Logiernächte,10
7709,1886319,2022,September,Arosa,Serbia,Logiernächte,4

In [37]:
df

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
5,2013,Jahrestotal,Kloten,Deutschland,Logiernächte,21688
7,2013,Jahrestotal,Kloten,Frankreich,Logiernächte,5858
9,2013,Jahrestotal,Kloten,Italien,Logiernächte,4801
...,...,...,...,...,...,...
1935951,2022,Dezember,Meyrin,Slowakei,Logiernächte,0
1935953,2022,Dezember,Meyrin,Slowenien,Logiernächte,0
1935955,2022,Dezember,Meyrin,Tschechien,Logiernächte,0
1935957,2022,Dezember,Meyrin,Ukraine,Logiernächte,0
1935959,2022,Dezember,Meyrin,Serbien,Logiernächte,0

In [38]:
saanen=df.loc[(df["Gemeinde"]=="Saanen")&(df["Indikator"]=="Logiernächte")]
stmoritz=df.loc[(df["Gemeinde"]=="St. Moritz")&(df["Indikator"]=="Logiernächte")]
andermatt=df.loc[(df["Gemeinde"]=="Andermatt")&(df["Indikator"]=="Logiernächte")]
#saanen=df.loc[(df["Gemeinde"]=="Saanen")&(df["Indikator"]=="Logiernächte")]

In [39]:
saanen.loc[(saanen["Monat"] == "September")&(saanen["Herkunftsland"]== "Herkunftsland - Total")]

         Jahr      Monat Gemeinde          Herkunftsland     Indikator   DATA
136949   2013  September   Saanen  Herkunftsland - Total  Logiernächte  23558
330545   2014  September   Saanen  Herkunftsland - Total  Logiernächte  24808
524141   2015  September   Saanen  Herkunftsland - Total  Logiernächte  25580
717737   2016  September   Saanen  Herkunftsland - Total  Logiernächte  22449
911333   2017  September   Saanen  Herkunftsland - Total  Logiernächte  26599
1104929  2018  September   Saanen  Herkunftsland - Total  Logiernächte  27771
1298525  2019  September   Saanen  Herkunftsland - Total  Logiernächte  29051
1492121  2020  September   Saanen  Herkunftsland - Total  Logiernächte  27849
1685717  2021  September   Saanen  Herkunftsland - Total  Logiernächte  34396
1879313  2022  September   Saanen  Herkunftsland - Total  Logiernächte  30397

In [40]:
df = df.loc[df["Indikator"] == "Logiernächte"]

 

df = df.drop(df.loc[df["Monat"]=="Jahrestotal"], inplace=True)
#df = df.drop((df.loc[(df["Jahr"]== 2022)&(df["Monat"]=="Dezember")]))

KeyError: "['Jahr', 'Monat', 'Gemeinde', 'Herkunftsland', 'Indikator', 'DATA'] not found in axis"

In [ ]:
#df1 = df.drop(df.loc[(df["Jahr"]=="2022")&(df["Monat"]=="Dezember")])
df

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
5,2013,Jahrestotal,Kloten,Deutschland,Logiernächte,21688
7,2013,Jahrestotal,Kloten,Frankreich,Logiernächte,5858
9,2013,Jahrestotal,Kloten,Italien,Logiernächte,4801
...,...,...,...,...,...,...
1935951,2022,Dezember,Meyrin,Slowakei,Logiernächte,0
1935953,2022,Dezember,Meyrin,Slowenien,Logiernächte,0
1935955,2022,Dezember,Meyrin,Tschechien,Logiernächte,0
1935957,2022,Dezember,Meyrin,Ukraine,Logiernächte,0
1935959,2022,Dezember,Meyrin,Serbien,Logiernächte,0

In [53]:
countries = saanen.groupby("Herkunftsland").sum()
countries = countries.sort_values("DATA", ascending = False)

countries[0:9]

                          Jahr     DATA
Herkunftsland
Herkunftsland - Total   262275  6229206
Schweiz                 262275  4091429
Frankreich              262275   330120
Deutschland             262275   276251
Vereinigtes Königreich  262275   263586
Vereinigte Staaten      262275   180488
Italien                 262275   102241
Belgien                 262275    95017
Niederlande             262275    84484

In [48]:
df["Herkunftsland"].unique().tolist()

['Herkunftsland - Total',
 'Schweiz',
 'Deutschland',
 'Frankreich',
 'Italien',
 'Österreich',
 'Vereinigtes Königreich',
 'Irland',
 'Niederlande',
 'Belgien',
 'Luxemburg',
 'Dänemark',
 'Schweden',
 'Norwegen',
 'Finnland',
 'Spanien',
 'Portugal',
 'Griechenland',
 'Türkei',
 'Übriges Europa',
 'Liechtenstein',
 'Island',
 'Polen',
 'Ungarn',
 'Belarus',
 'Bulgarien',
 'Malta',
 'Zypern',
 'Chile',
 'Vereinigte Staaten',
 'Kanada',
 'Mexiko',
 'Brasilien',
 'Argentinien',
 'Übriges Südamerika',
 'Übriges Zentralamerika, Karibik',
 'Ägypten',
 'Übriges Nordafrika',
 'Südafrika',
 'Übriges Afrika',
 'Bahrain',
 'Israel',
 'Indien',
 'Japan',
 'Übriges Süd- und Ostasien',
 'Katar',
 'Kuwait',
 'Australien',
 'China',
 'Hongkong',
 'Indonesien',
 'Korea (Süd-)',
 'Malaysia',
 'Philippinen',
 'Neuseeland, Ozeanien',
 'Singapur',
 'Oman',
 'Taiwan (Chinesisches Taipei)',
 'Thailand',
 'Übriges Westasien',
 'Estland',
 'Lettland',
 'Litauen',
 'Saudi-Arabien',
 'Vereinigte Arabische Emirate',
 'Kroatien',
 'Rumänien',
 'Russland',
 'Slowakei',
 'Slowenien',
 'Tschechien',
 'Ukraine',
 'Serbien']

In [ ]:
df2 = df

In [ ]:
df2 = df2[df2.Jahr != "2022"]
df2

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
5,2013,Jahrestotal,Kloten,Deutschland,Logiernächte,21688
7,2013,Jahrestotal,Kloten,Frankreich,Logiernächte,5858
9,2013,Jahrestotal,Kloten,Italien,Logiernächte,4801
...,...,...,...,...,...,...
1935951,2022,Dezember,Meyrin,Slowakei,Logiernächte,0
1935953,2022,Dezember,Meyrin,Slowenien,Logiernächte,0
1935955,2022,Dezember,Meyrin,Tschechien,Logiernächte,0
1935957,2022,Dezember,Meyrin,Ukraine,Logiernächte,0
1935959,2022,Dezember,Meyrin,Serbien,Logiernächte,0

In [ ]:
df2.drop(df2.loc[df2['Jahr']=="2022"].index, inplace=True)

In [ ]:
df2

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
5,2013,Jahrestotal,Kloten,Deutschland,Logiernächte,21688
7,2013,Jahrestotal,Kloten,Frankreich,Logiernächte,5858
9,2013,Jahrestotal,Kloten,Italien,Logiernächte,4801
...,...,...,...,...,...,...
1935951,2022,Dezember,Meyrin,Slowakei,Logiernächte,0
1935953,2022,Dezember,Meyrin,Slowenien,Logiernächte,0
1935955,2022,Dezember,Meyrin,Tschechien,Logiernächte,0
1935957,2022,Dezember,Meyrin,Ukraine,Logiernächte,0
1935959,2022,Dezember,Meyrin,Serbien,Logiernächte,0

In [141]:
arosa

,index,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
0,24675,2013,Januar,Arosa,Herkunftsland - Total,Logiernächte,73314
1,24677,2013,Januar,Arosa,Switzerland,Logiernächte,48228
2,24679,2013,Januar,Arosa,Germany,Logiernächte,15285
3,24681,2013,Januar,Arosa,France,Logiernächte,258
4,24683,2013,Januar,Arosa,Italy,Logiernächte,277
...,...,...,...,...,...,...,...
7705,1886311,2022,September,Arosa,Slovakia,Logiernächte,6
7706,1886313,2022,September,Arosa,Slovenia,Logiernächte,0
7707,1886315,2022,September,Arosa,Czech Republic,Logiernächte,12
7708,1886317,2022,September,Arosa,Ukraine,Logiernächte,10
7709,1886319,2022,September,Arosa,Serbia,Logiernächte,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 871182 entries, 1 to 1742363
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Jahr           871182 non-null  object
 1   Monat          871182 non-null  object
 2   Gemeinde       871182 non-null  object
 3   Herkunftsland  871182 non-null  object
 4   Indikator      871182 non-null  object
 5   DATA           871182 non-null  object
dtypes: object(6)
memory usage: 46.5+ MB

In [ ]:
df_arosa = dict_regions_months[0]['Arosa']
years = arosa.loc[arosa['Jahr'] == '2013']
months_every_year = years['Monat'].value_counts()
years_in_df = df_arosa['Jahr'].value_counts()

In [ ]:
months_every_year

In [ ]:
years_in_df

2013    876
2014    876
2015    876
2016    876
2017    876
2018    876
2020    876
2021    876
2019    864
2022    657
Name: Jahr, dtype: int64

In [ ]:
df_total = df.loc[df["Herkunftsland"]=="Herkunftsland - Total"] 
df_total

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
147,2013,Jahrestotal,Opfikon,Herkunftsland - Total,Logiernächte,539053
293,2013,Jahrestotal,Winterthur,Herkunftsland - Total,Logiernächte,184058
439,2013,Jahrestotal,Zürich,Herkunftsland - Total,Logiernächte,2830003
585,2013,Jahrestotal,Bern,Herkunftsland - Total,Logiernächte,711828
...,...,...,...,...,...,...
1935231,2022,Dezember,Täsch,Herkunftsland - Total,Logiernächte,0
1935377,2022,Dezember,Zermatt,Herkunftsland - Total,Logiernächte,0
1935523,2022,Dezember,Neuchâtel,Herkunftsland - Total,Logiernächte,0
1935669,2022,Dezember,Genčve,Herkunftsland - Total,Logiernächte,0
1935815,2022,Dezember,Meyrin,Herkunftsland - Total,Logiernächte,0

In [138]:
gdp = pd.read_csv("../data/gdpPC.csv")
gdp[["q","year"]] = gdp["Period"].str.split("-",expand=True)
del gdp["Period"]
gdp.rename(columns={"Value":"value-usd", "LOCATION":"iso"}, inplace=True)
gdp["year"] = gdp["year"].astype(int)
gdp13 = gdp.loc[(gdp["year"] >= 2013)&(gdp["MEASURE"]=="HCPCARSA")]
gdp13 = gdp13[["iso","year","value-usd","q"]]
gdp_countries = gdp["iso"].unique()
gdp_countries = gdp_countries.tolist()

#gdp13ri = gdp13.reset_index()


gdp13_wide = gdp13.pivot(
    index= ["year", "q"], columns="iso", values="value-usd").reset_index().rename_axis(None, axis=1)

In [139]:
gdp13_wide

,year,q,AUS,AUT,BEL,BGR,CAN,CHE,CHL,COL,...,POL,PRT,ROU,RUS,SAU,SVK,SVN,SWE,USA,ZAF
0,2013,Q1,45427.6,47334.3,43042.5,16400.1,43545.0,60881.1,22025.8,12445.8,...,23609.6,27191.6,19231.3,25591.7,NaN,27602.7,29541.8,46255.1,52591.0,13638.8
1,2013,Q2,46507.8,47667.2,43530.7,16476.4,44044.2,61471.4,22179.4,12758.4,...,23959.9,27815.6,19551.4,25999.2,NaN,27870.7,29890.5,46189.2,52724.4,13770.7
2,2013,Q3,47352.3,48171.7,43892.5,16711.1,44620.0,62107.9,22394.5,12884.6,...,24188.1,28103.5,19521.6,26253.2,NaN,28162.5,30083.9,46368.6,53280.7,13843.1
3,2013,Q4,47839.8,48498.5,44224.2,16908.3,45243.5,62369.7,22557.9,13103.7,...,24329.5,28650.0,20049.1,26507.2,NaN,28457.9,30742.5,46645.9,53865.5,13891.6
4,2014,Q1,47645.6,48477.4,44501.9,17235.4,45516.7,62593.7,22624.3,13312.4,...,24625.0,28501.1,20310.9,26452.8,NaN,28653.4,30662.8,46859.6,53803.7,13772.5
5,2014,Q2,47421.2,48865.5,44746.4,17496.1,45916.4,63244.1,22720.3,13350.5,...,24888.5,28686.3,20313.3,26486.5,NaN,28908.4,30894.7,47171.2,54702.9,13782.4
6,2014,Q3,47115.9,48978.0,45140.2,17622.8,46064.9,63758.7,22514.4,13399.3,...,25166.3,28773.7,20663.0,25720.2,NaN,29173.5,31025.5,47390.0,55461.6,13817.9
7,2014,Q4,46727.7,49069.8,45328.5,17818.0,45744.6,64251.9,22668.9,13399.1,...,25297.0,29009.8,20948.3,25276.1,NaN,29382.7,30939.7,47605.1,55682.9,13885.1
8,2015,Q1,46442.2,49134.7,45424.1,17894.5,44740.9,64193.7,22641.4,13209.2,...,25707.5,29143.5,21092.5,24499.0,50005.1,29761.5,30972.7,48193.3,56018.5,13952.2
9,2015,Q2,46285.9,49614.3,46002.0,18079.6,44486.4,64931.3,22565.1,13253.7,...,26177.6,29470.9,20965.4,24094.0,50490.0,30068.1,31325.1,48810.2,56547.2,13879.9
10,2015,Q3,46677.9,50292.4,46422.8,18517.0,44692.7,65624.3,22397.6,13412.9,...,26687.0,29789.2,21674.1,24014.8,49653.7,30244.7,31720.6,49517.1,56778.4,13952.6
11,2015,Q4,46963.2,50748.8,46961.1,18868.1,44887.3,66043.2,22600.5,13437.9,...,27192.1,30249.0,22438.9,23812.8,47770.1,30171.7,32026.6,49874.9,56736.3,13979.9
12,2016,Q1,47525.4,51594.0,47486.1,19286.2,45734.1,66340.4,23146.9,13709.5,...,27084.5,30773.2,22938.4,23735.1,46510.4,29811.8,32737.3,49907.4,56922.9,13968.7
13,2016,Q2,48250.2,52544.8,48472.9,19901.4,46202.2,67258.5,23075.4,14006.5,...,27726.6,31374.4,23531.1,23968.6,46021.5,29769.5,33680.1,50248.9,57396.3,14032.0
14,2016,Q3,48405.1,53013.0,48924.9,20225.6,46929.8,67689.4,23450.5,14176.9,...,27909.3,31944.5,24076.9,24168.9,45742.2,29658.1,34276.2,50409.9,57783.8,14006.1
15,2016,Q4,49074.1,53540.0,49513.5,20647.4,47321.3,67827.6,23658.5,14323.5,...,28674.5,32356.0,24687.4,24656.6,46849.4,29711.6,34842.5,50901.4,58263.3,14015.1
16,2017,Q1,49074.9,53522.7,49992.4,20923.0,47844.1,67803.8,23767.3,14277.6,...,29095.2,32646.5,26012.8,25087.0,47224.9,29832.6,35639.2,51142.1,58727.2,14061.5
17,2017,Q2,49164.0,53869.1,50200.0,21198.5,48258.5,67733.9,24185.8,14347.4,...,29333.6,32764.7,26316.8,25579.3,47908.4,29981.1,36202.1,51782.4,59115.8,14103.8
18,2017,Q3,49632.3,54365.1,50398.2,21526.9,48471.4,68052.6,24807.4,14525.3,...,29683.4,33103.0,27359.1,26229.6,48251.6,30185.4,36731.8,52230.7,59796.7,14132.6
19,2017,Q4,50082.8,55101.3,51188.7,21944.9,48955.7,69050.3,25132.1,14765.6,...,30281.1,33664.5,27507.6,26861.3,48041.1,30581.5,37860.8,52585.3,60711.7,14232.6
20,2018,Q1,50720.2,56067.3,51741.9,22480.6,49697.6,70143.8,25490.9,15036.9,...,30906.3,34271.0,28250.5,27918.6,48992.4,30888.8,38172.7,53098.0,61432.6,14322.5
21,2018,Q2,51424.4,56839.1,52411.8,22834.4,50339.0,71171.6,25657.0,15360.1,...,31513.7,34907.1,29135.3,28714.8,48902.4,31349.4,38967.9,53892.3,62309.2,14374.3
22,2018,Q3,51686.2,57111.4,52689.5,22987.4,50349.0,70712.4,25366.6,15612.2,...,31880.2,35147.5,29888.7,29113.2,49261.5,31583.4,39488.2,53314.3,62871.6,14560.2
23,2018,Q4,51935.5,57835.2,53274.1,23393.1,49919.5,70692.4,25549.2,15746.4,...,32222.8,35390.9,30245.4,29518.4,49550.0,31666.8,40091.9,53855.0,63180.2,14641.7
24,2019,Q1,52112.6,57642.6,53272.8,24195.0,49406.2,70352.1,25270.4,15831.6,...,32609.0,35545.8,30680.6,29510.4,49002.3,31796.0,40373.4,53951.2,63701.5,14507.2
25,2019,Q2,52605.0,57636.5,53843.6,24311.7,49571.3,70686.4,25255.4,16013.5,...,33046.3,35879.1,31506.1,30255.0,48985.8,31943.4,40374.0,54318.4,64414.1,14612.4
26,2019,Q3,53189.4,58253.0,54620.2,24474.1,49295.6,71148.7,25323.2,16251.1,...,33504.9,36261.0,32071.5,30054.3,48939.7,32122.7,41036.9,54651.3,65104.2,14649.8
27,2019,Q4,53701.3,58554.4,55567.9,24826.0,49240.4,71913.2,24652.8,16418.8,...,34088.6,37014.3,33041.6,30073.4,49263.2,32553.6,41938.6,55473.4,65537.5,14681.9
28,2020,Q1,53903.3,57936.1,54629.4,25072.1,48085.2,71448.1,25528.5,16222.5,...,34742.7,35967.2,33367.0,30185.8,48040.5,32030.2,40453.0,56506.9,64964.8,14714.2
29,2020,Q2,50140.4,51447.6,48712.7,23797.4,42560.0,66254.7,22768.3,13636.2,...,31780.9,30534.0,29859.5,28662.1,44656.9,29675.4,36522.0,52284.7,59201.7,12116.2
30,2020,Q3,52694.3,57590.4,55167.4,24605.1,47077.6,71812.8,24082.7,15216.4,...,34519.9,35296.5,31951.8,29871.4,45822.7,32666.0,40819.1,56659.2,64375.5,13856.8
31,2020,Q4,55066.7,56449.4,55184.5,25182.3,48752.4,72263.3,25995.1,16100.1,...,35032.6,35276.0,33879.9,30350.8,46743.6,32834.9,40641.3,56843.6,65380.0,14227.6
32,2021,Q1,56983.6,55620.8,56165.0,26812.4,50375.9,72748.2,26858.8,16708.0,...,35557.7,34318.8,34181.8,30986.7,NaN,32419.9,41263.8,58032.9,67220.7,14403.7
33,2021,Q2,58335.7,58146.4,57602.0,27490.0,51043.1,75129.8,27605.0,16482.4,...,36656.8,35961.5,35713.0,32517.7,NaN,33357.7,42729.6,58957.5,69414.1,14744.1
34,2021,Q3,58205.8,60820.4,59315.2,28356.8,52562.5,77419.7,29152.1,17705.4,...,38221.9,37193.9,34972.3,32791.2,NaN,33843.2,43720.1,60485.7,70871.6,14617.5
35,2021,Q4,61403.3,60754.9,60317.9,28877.6,54212.9,78757.8,29969.2,18451.2,...,39172.7,38406.5,36036.5,NaN,NaN,34478.3,46374.7,62243.4,73211.9,15014.0
36,2022,Q1,63093.9,62494.4,61588.2,28903.8,55670.4,80513.1,30265.9,19013.8,...,41285.8,40246.4,38720.1,NaN,NaN,35191.1,47747.6,63244.7,74351.8,15531.0
37,2022,Q2,65018.0,64737.4,63151.3,29439.5,57252.1,82507.9,30855.3,19651.4,...,41514.8,41152.0,40520.9,NaN,NaN,35669.8,49179.2,65022.3,75834.9,15706.2
38,2022,Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77011.2,NaN

In [63]:
exchange_rate = pd.read_csv("../data/SNB_Xrate_20y.csv", sep = ";", skiprows = 2)
exchange_rate[["y","m"]] = exchange_rate["Date"].str.split("-",expand=True)
exchange_rate["y"] = exchange_rate["y"].astype(int)
del exchange_rate["Date"]
del exchange_rate["D0"]
exchange_rate = exchange_rate.loc[exchange_rate["y"]>=2013].reset_index()
exchange_rate
exchange_rate["D1"].unique()

array(['EUR1', 'GBP1', 'DKK100', 'NOK100', 'CZK100', 'HUF100', 'PLN100',
       'RUB1', 'SEK100', 'TRY100', 'USD1', 'CAD1', 'ARS1', 'BRL100',
       'MXN100', 'ZAR1', 'JPY100', 'AUD1', 'CNY100', 'HKD100', 'KRW100',
       'MYR100', 'NZD1', 'SGD1', 'THB100'], dtype=object)

In [115]:
exchange_rate

      index      D1     Value     y   m
0     29475    EUR1   1.22800  2013  01
1     29476    GBP1   1.47680  2013  01
2     29477  DKK100  16.45610  2013  01
3     29478  NOK100  16.64220  2013  01
4     29479  CZK100   4.81060  2013  01
...     ...     ...       ...   ...  ..
2945  32420  KRW100   0.06979  2022  10
2946  32421  MYR100  21.20690  2022  10
2947  32422    NZD1   0.56614  2022  10
2948  32423    SGD1   0.69870  2022  10
2949  32424  THB100   2.62450  2022  10

[2950 rows x 5 columns]

In [85]:
exchange_rate

exchange_rate_wide = exchange_rate.pivot(
    index=["y", "m"], columns="D1", values="Value").reset_index().rename_axis(None, axis=1)

exchange_rate_wide

,y,m,ARS1,AUD1,BRL100,CAD1,CNY100,CZK100,DKK100,EUR1,...,NOK100,NZD1,PLN100,RUB1,SEK100,SGD1,THB100,TRY100,USD1,ZAR1
0,2013,01,18.67700,0.97002,45.46090,0.93180,14.70635,4.81060,16.45610,1.22800,...,16.64220,0.77340,29.67480,0.03060,14.23780,0.75240,3.07180,52.14739,0.92410,0.10530
1,2013,02,18.37300,0.94904,46.56500,0.91240,14.66380,4.82820,16.48350,1.22980,...,16.55750,0.77190,29.47550,0.03050,14.45250,0.74300,3.08490,51.78650,0.92020,0.10340
2,2013,03,18.60100,0.97811,47.63330,0.92320,15.08571,4.78020,16.44900,1.22640,...,16.38140,0.78340,29.51190,0.03070,14.69380,0.75900,3.20530,52.27762,0.94600,0.10290
3,2013,04,18.20450,0.97392,46.77730,0.92040,14.99827,4.71990,16.36140,1.21980,...,16.17360,0.79470,29.46180,0.02990,14.45320,0.75750,3.22270,52.15591,0.93770,0.10290
4,2013,05,18.23960,0.94584,46.93910,0.93580,15.42609,4.79120,16.64520,1.24060,...,16.39780,0.78750,29.67910,0.03050,14.46650,0.76490,3.20760,52.30783,0.95500,0.10220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,2022,06,0.00791,0.68082,19.23460,0.75647,14.47895,4.14539,13.77732,1.02495,...,9.94607,0.61565,22.05405,0.01703,9.66685,0.70067,2.77386,5.69668,0.96962,0.06138
114,2022,07,0.00757,0.66437,18.04921,0.74919,14.40007,4.01505,13.27070,0.98765,...,9.68793,0.60063,20.69005,0.01642,9.33381,0.69464,2.66648,5.54941,0.96954,0.05752
115,2022,08,0.00709,0.66613,18.61382,0.74116,14.06791,3.94514,13.02530,0.96899,...,9.86020,0.59962,20.52874,0.01576,9.21974,0.69142,2.67159,5.30527,0.95717,0.05734
116,2022,09,0.00680,0.65041,18.62051,0.73088,13.85476,3.92288,12.96564,0.96419,...,9.50279,0.57777,20.32739,0.01620,8.94482,0.68832,2.62679,5.31038,0.97293,0.05544
117,2022,10,0.00656,0.63286,18.91138,0.72599,13.83964,3.98994,13.16062,0.97899,...,9.41809,0.56614,20.36972,0.01614,8.94175,0.69870,2.62450,5.35473,0.99564,0.05492

In [ ]:
iso = pd.read_csv("../data/isos.csv")
iso = iso[["name","alpha-3"]]
iso

                  name alpha-3
0          Afghanistan     AFG
1        Åland Islands     ALA
2              Albania     ALB
3              Algeria     DZA
4       American Samoa     ASM
..                 ...     ...
244  Wallis and Futuna     WLF
245     Western Sahara     ESH
246              Yemen     YEM
247             Zambia     ZMB
248           Zimbabwe     ZWE

[249 rows x 2 columns]

In [54]:
from easynmt import EasyNMT
#model = EasyNMT("opus-mt")

#df["value_en"] = df.apply(lambda row: model.translate(row["value"], target_lang="en"), axis=1)

ModuleNotFoundError: No module named 'easynmt'

In [ ]:
exchange_rate = exchange_rate.dropna()
exchange_rate

          Date  D0      D1     Value
1      1914-10  M0    GBP1  25.29200
10     1914-10  M0    USD1   5.10100
26     1914-11  M0    GBP1  25.43200
35     1914-11  M0    USD1   5.19700
51     1914-12  M0    GBP1  25.46700
...        ...  ..     ...       ...
32420  2022-10  M0  KRW100   0.06979
32421  2022-10  M0  MYR100  21.20690
32422  2022-10  M0    NZD1   0.56614
32423  2022-10  M0    SGD1   0.69870
32424  2022-10  M0  THB100   2.62450

[11896 rows x 4 columns]

In [ ]:
exchange_rate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11896 entries, 1 to 32424
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    11896 non-null  object
 1   D0      11896 non-null  object
 2   D1      11896 non-null  object
 3   Value   11896 non-null  float64
dtypes: float64(1), object(3)
memory usage: 464.7+ KB

In [ ]:
exchange_rate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11896 entries, 1 to 32424
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    11896 non-null  datetime64[ns]
 1   D0      11896 non-null  object
 2   D1      11896 non-null  object
 3   Value   11896 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 464.7+ KB

In [ ]:
exchange_rate

          Date  D0      D1     Value     y   m
29475  2013-01  M0    EUR1   1.22800  2013  01
29476  2013-01  M0    GBP1   1.47680  2013  01
29477  2013-01  M0  DKK100  16.45610  2013  01
29478  2013-01  M0  NOK100  16.64220  2013  01
29479  2013-01  M0  CZK100   4.81060  2013  01
...        ...  ..     ...       ...   ...  ..
32420  2022-10  M0  KRW100   0.06979  2022  10
32421  2022-10  M0  MYR100  21.20690  2022  10
32422  2022-10  M0    NZD1   0.56614  2022  10
32423  2022-10  M0    SGD1   0.69870  2022  10
32424  2022-10  M0  THB100   2.62450  2022  10

[2950 rows x 6 columns]

In [121]:
unemployment_rate = pd.read_csv("../data/Unemployment_rate.csv")
unemployment_rate

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,HUR,TOT,PC_LF,M,2012-02,5.198277,NaN
1,AUS,HUR,TOT,PC_LF,M,2012-03,5.181371,NaN
2,AUS,HUR,TOT,PC_LF,M,2012-04,4.992588,NaN
3,AUS,HUR,TOT,PC_LF,M,2012-05,5.196845,NaN
4,AUS,HUR,TOT,PC_LF,M,2012-06,5.162910,NaN
...,...,...,...,...,...,...,...,...
5117,CRI,HUR,TOT,PC_LF,M,2022-04,11.977420,NaN
5118,CRI,HUR,TOT,PC_LF,M,2022-05,11.661520,NaN
5119,CRI,HUR,TOT,PC_LF,M,2022-06,11.824310,NaN
5120,CRI,HUR,TOT,PC_LF,M,2022-07,11.844450,NaN
5121,CRI,HUR,TOT,PC_LF,M,2022-08,11.969950,NaN

In [122]:
unemployment_rate["LOCATION"].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'TUR', 'GBR',
       'USA', 'CHL', 'EST', 'ISR', 'SVN', 'OECD', 'G-7', 'EA19', 'LVA',
       'LTU', 'COL', 'EU27_2020', 'CRI'], dtype=object)

In [123]:
unemployment_rate[["y","m"]] = unemployment_rate["TIME"].str.split("-",expand=True)
unemployment_rate["y"] = unemployment_rate["y"].astype(int)
del unemployment_rate["INDICATOR"]
del unemployment_rate["SUBJECT"]
del unemployment_rate["MEASURE"]
del unemployment_rate["FREQUENCY"]
del unemployment_rate["Flag Codes"]
del unemployment_rate["TIME"]

unemployment_rate = unemployment_rate.loc[unemployment_rate["y"]>=2013].reset_index()