In [20]:
from pyaxis import pyaxis
import pandas as pd

#set file path (or URL)
fp = r"/Users/schuler/Documents/GitHub.nosync/dsfgp/data/px-x-1003020000_101.px" 
#parse contents of *.px file
px = pyaxis.parse(uri = fp , encoding = 'ISO-8859-2')

#store data as pandas dataframe
df = px['DATA']
meta_dict = px['METADATA']
#store metadata as a dictionary (not necessary in this case, but might be helpful)

print("Alex")
print("Test Boas")
print("bla")

Alex
Test Boas
bla

In [4]:
saanen=df.loc[(df["Gemeinde"]=="Saanen")&(df["Indikator"]=="Logiernächte")]
stmoritz=df.loc[(df["Gemeinde"]=="St. Moritz")&(df["Indikator"]=="Logiernächte")]
andermatt=df.loc[(df["Gemeinde"]=="Andermatt")&(df["Indikator"]=="Logiernächte")]
#saanen=df.loc[(df["Gemeinde"]=="Saanen")&(df["Indikator"]=="Logiernächte")]

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
0,2013,Jahrestotal,Kloten,Herkunftsland - Total,Ankünfte,177829
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
2,2013,Jahrestotal,Kloten,Schweiz,Ankünfte,59437
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
4,2013,Jahrestotal,Kloten,Deutschland,Ankünfte,14447
...,...,...,...,...,...,...
1935955,2022,Dezember,Meyrin,Tschechien,Logiernächte,"""..."""
1935956,2022,Dezember,Meyrin,Ukraine,Ankünfte,"""..."""
1935957,2022,Dezember,Meyrin,Ukraine,Logiernächte,"""..."""
1935958,2022,Dezember,Meyrin,Serbien,Ankünfte,"""..."""
1935959,2022,Dezember,Meyrin,Serbien,Logiernächte,"""..."""

In [21]:
df[df["Monat"] != "Dezember"]

,Jahr,Monat,Gemeinde,Herkunftsland,Indikator,DATA
0,2013,Jahrestotal,Kloten,Herkunftsland - Total,Ankünfte,177829
1,2013,Jahrestotal,Kloten,Herkunftsland - Total,Logiernächte,237998
2,2013,Jahrestotal,Kloten,Schweiz,Ankünfte,59437
3,2013,Jahrestotal,Kloten,Schweiz,Logiernächte,70932
4,2013,Jahrestotal,Kloten,Deutschland,Ankünfte,14447
...,...,...,...,...,...,...
1921063,2022,November,Meyrin,Tschechien,Logiernächte,"""..."""
1921064,2022,November,Meyrin,Ukraine,Ankünfte,"""..."""
1921065,2022,November,Meyrin,Ukraine,Logiernächte,"""..."""
1921066,2022,November,Meyrin,Serbien,Ankünfte,"""..."""
1921067,2022,November,Meyrin,Serbien,Logiernächte,"""..."""

In [23]:
print("NOAH")

NOAH